.dashboard-container {
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }
  